{{/* In page TOC for landing pages (_index.md/.html) that exclude "readfile". */}}
{{ if not (.HasShortcode "readfile") }}
<div>
  <div>
    {{ template "inpage-toc" (dict "page" . "section" .CurrentSection) }}
  </div>
</div>
{{ end }}
{{ define "inpage-toc" }}
{{ $s := .section }}
{{ $p := .page }}
{{ $active := eq $p.CurrentSection $s }}
{{ if or (not $active) (eq $p.URL .URL) }}<ul class="td-sidebar-nav__section">
  <li class="td-sidebar-nav__section" >
    <a  href="{{ $s.RelPermalink }}">{{ $s.LinkTitle }}</a>
  </li>
  <ul>
    <li>{{ end }}
      {{ $pages := (union $s.Pages $s.Sections).ByWeight }}
      {{ range $pages }}
      {{ if .IsPage }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ else }}
      {{ template "inpage-toc" (dict "page" $p "section" . ) }}
      {{ end }}
      {{ end }}
    </li>
  </ul>
{{ if not $active }}</ul>{{ end }}
{{ end }}
